<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tags="http://www.springframework.org/security/tags"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/security/tags ">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <title> INFO</title>

</head>
<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid me-auto">
                <span class="navbar-brand">
                    <strong id="currentUsername"></strong>

                     with roles:
                    <strong id="currentRoles"></strong>

                </span>
    </div>
    <span class="nav-item ms-auto">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
      </span>
    </nav>

</header>

<body>
  <main class=row>

    <div class="d-flex col-md-3 col-lg-2 d-md-block  sidebar collapse">
      <br>
        <nav id="sidebarMenu" class="col-md-12 col-lg-12 d-md-block  sidebar collapse">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-pills">
                <a class="nav-link active" data-toggle="tab"  href="#admin-panel">Admin</a>
            </li>
            <li class="nav-pills">
                <a class="nav-link" data-toggle="tab"  href="#user-panel">User</a>
            </li>
          </ul>
        </nav>
    </div>

      <div class="col-9 height: 1200 px bg-light" style="height: 1000px">
      <div class="tab-content container-fluid" id="pills-Content">
        <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-panel-tab">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 ">
            <h2>Admin panel</h2>
          </div>


            <!--закладки all users и new user-->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="nav-home-tab"  data-toggle="tab" href="#usersTable" role="tab">Users table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
            </li>
          </ul>


            <!--all users-->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="usersTable">
              <div class="card">
                <div class="card-header">All users</div>
                <div class="card-body">

                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="AllUsers">




                    </tbody>
                  </table>
                 </div>
                </div>
              </div>





          <!--new user-->
            <div class="tab-pane fade" id="newUser">
              <div class="card">
                <div class="card-header">Add user</div>
                <div class="card-body">
                  <div class="col-md-4 mx-auto">
                  <form id="newUserForm">
                    <div class="form-group text-center">
                      <label for="nameNew"><strong>First Name</strong></label>
                      <input type="text" class="form-control" name="name" id="nameNew" placeholder="name">
                    </div>
                    <div class="form-group text-center">
                      <label for="surnameNew"><strong>Last Name</strong></label>
                      <input type="text" class="form-control" name="surname" id="surnameNew" placeholder="surname">
                    </div>
                    <div class="form-group text-center">
                      <label for="ageNew"><strong>Age</strong></label>
                      <input type="text" class="form-control" name="age" id="ageNew" placeholder="age">
                    </div>
                    <div class="form-group text-center">
                      <label for="usernameNew"><strong>Email</strong></label>
                      <input type="text" class="form-control" name="username" id="usernameNew" placeholder="email">
                    </div>
                    <div class="form-group text-center">
                      <label for="passwordNew"><strong>Password</strong></label>
                      <input type="text" class="form-control" name="password" id="passwordNew" placeholder="password">
                    </div>
                    <div class="form-group text-center">
                      <label for="newUserRoles"><strong>Role</strong></label>
                        <select class="form-control" name="roles" id="newUserRoles" size="2" multiple>
                        </select>
                    </div>
                    <div class="form-group text-center">
                    <button type="submit" id="newBtn" class="btn btn-success">Add new user</button>

                    </div>
                  </form>
                </div>
                </div>
               </div>
              </div>
          </div>
        </div>



          <!--user info panel-->
              <div class="tab-pane fade" id="user-panel" role="tabpanel" aria-labelledby="user-panel-tab">
                <h2 class="my-2 mx-2">About user</h2>
                <div class="card">
                <div class="card-body">
                  <table class="table table-striped ">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Age</th>
                      <th scope="col">Email</th>
                      <th scope="col">Role</th>

                    </tr>
                    </thead>
                    <tbody id="currentUser">

                    </tbody>
                  </table>
                </div>
                </div>
              </div>


      </div>
      </div>

      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <form id="editForm">
                  <div class="modal-dialog" role="document" aria-labelledby="updateModalLabel">
                      <div class="modal-content">

                          <div class="modal-header">
                              <h3 class="modal-title" id="updateModalLabel">Update user</h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <div class="col-md-8 mx-auto">

                                  <div class="form-group text-center">
                                      <label for="edID"><strong>ID</strong></label>
                                      <input type="text" class="form-control" id="edID" name="id" disabled>
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="e-name"><strong>First Name</strong></label>
                                      <input type="text" name="name" class="form-control" id="e-name"
                                             value="name">
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="e-surname"><strong>Last Name</strong></label>
                                      <input type="text" name="surname" class="form-control" id="e-surname"
                                             value="">
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="edit-age"><strong>Age</strong></label>
                                      <input type="text" name="e-age" class="form-control" id="edit-age"
                                             value="">
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="e-username"><strong>Email</strong></label>
                                      <input type="text" name="username" class="form-control" id="e-username"
                                             value="">
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="edit-password"><strong>Password</strong></label>
                                      <input type="text" name="password" class="form-control" id="edit-password">
                                  </div>
                                  <div class="form-group text-center">
                                      <label for="e-role"><strong>Role</strong></label>
                                      <!--                                                        <input type="hidden" name="roles" th:field="${ussr.roles}"/>-->
                                      <select class="custom-select"
                                              id="e-Role"
                                              multiple="multiple" name="roles" size="2">

                                      </select>
                                  </div>

                                  <div class="form-group text-center">
                                  </div>


                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="editModalCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-danger" onclick="Edit()">Edit</button>
                              </div>
                          </div>
                      </div>
                  </div>
          </form>

      </div>

      <!--    Modal delete-->
      <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <form id="DeleteForm" >
                  <div class="modal-content">
                  <div class="modal-header">
                      <h3 class="modal-title" id="deleteModalLabel">Delete user</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="col-md-8 mx-auto">

                              <div class="form-group text-center">
                                  <label for="delID"><strong>ID</strong></label>
                                  <input type="text" class="form-control" id="delID" name="id" disabled>
                              </div>
                              <div class="form-group text-center">
                                  <label for="delName"><strong>First Name</strong></label>
                                  <input type="text" class="form-control" id="delName" name="name" disabled>
                              </div>
                              <div class="form-group text-center">
                                  <label for="delSN"><strong>Last Name</strong></label>
                                  <input type="text" class="form-control" id="delSN" disabled>
                              </div>
                              <div class="form-group text-center">
                                  <label for="delAge"><strong>Age</strong></label>
                                  <input type="text" class="form-control" id="delAge" disabled>
                              </div>
                              <div class="form-group text-center">
                                  <label for="delUname"><strong>Email</strong></label>
                                  <input type="text" class="form-control" id="delUname" disabled>
                              </div>

                              <div class="form-group text-center">

                                  <label for="Roled"><strong>Role</strong></label>
                                  <select class="custom-select bg-light " name="nameRole"
                                          id="Roled"
                                          multiple="multiple" size="2"  onmousedown="return false" onkeydown="return false">
                                      <option>ADMIN</option>
                                      <option >USER</option>
                                  </select>
                              </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" id="deleteModalCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger" onclick="Delete()">Delete</button>
                      </div>
                  </div>

              </div>
              </form>
          </div>
      </div>

      </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/static/main.js"></script>
 </body>
</html>

